---
import Logo from '@/components/logo.astro'
---

<header
  class="absolute top-0 right-0 left-0 z-50 border-b border-white/5 bg-[#070511]/50 backdrop-blur-xl"
>
  <div class="mx-auto flex h-20 max-w-6xl items-center justify-between px-6">
    <!-- Left -->
    <div class="flex items-center gap-12">
      <Logo />

      <nav
        class="hidden items-center gap-8 font-mono text-xs tracking-widest text-gray-400 uppercase md:flex"
      >
        <a
          href="#docs"
          class="group relative transition-colors hover:text-white"
        >
          <span>Docs</span>
          <span
            class="absolute -bottom-2 left-0 h-px w-0 bg-purple-500 transition-all group-hover:w-full"
          ></span>
        </a>

        <a
          href="#providers"
          class="group relative transition-colors hover:text-white"
        >
          <span>Providers</span>
          <span
            class="absolute -bottom-2 left-0 h-px w-0 bg-purple-500 transition-all group-hover:w-full"
          ></span>
        </a>

        <a
          href="#pricing"
          class="group relative transition-colors hover:text-white"
        >
          <span>Cost</span>
          <span
            class="absolute -bottom-2 left-0 h-px w-0 bg-purple-500 transition-all group-hover:w-full"
          ></span>
        </a>
      </nav>
    </div>

    <!-- Right -->
    <div class="flex items-center gap-6 text-sm">
      <a
        href="/login"
        class="hidden font-mono text-xs tracking-widest text-gray-400 uppercase transition-colors hover:text-white sm:block"
      >
        Console
      </a>

      <a
        href="/get-started"
        class="font-display rounded-md border border-white bg-white px-5 py-2.5 text-xs font-semibold tracking-widest text-[#070511] uppercase transition-colors hover:bg-gray-200"
      >
        Start Saving
      </a>
    </div>
  </div>
</header>
