---
import BoxIcon from '@/icons/box.astro'
---

<a href="/" class="group flex items-center gap-3">
  <div
    class="flex items-center justify-center border border-white/20 bg-white/2 p-1.5 text-white transition-colors group-hover:border-purple-400 group-hover:text-purple-400"
  >
    <BoxIcon size={20} class="" />
  </div>
  <span
    class="font-display mt-0.5 text-xl font-bold tracking-[0.2em] text-white uppercase"
    >Nexus<span class="animate-pulse text-purple-400">_</span></span
  >
</a>
